@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
	font: Marker Felt, fantasy
}
.homePage {
	background: #7E8591;
}
.container {
	width: 1080px;
	margin: 0 auto;
}
.header {
	font: New Century Schoolbook, TeX Gyre Schola, serif
	background: #24D8EA;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	font: New Century Schoolbook, TeX Gyre Schola, serif
	background: #4F6B66;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
	a:hover, a:active, a:focus { 
     text-decoration: underline; 
	a:link {
     color: #D6804F;
}
.content {
	font: New Century Schoolbook, TeX Gyre Schola, serif
	background: #39EBC7;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: center;
}
.footer {
	font: New Century Schoolbook, TeX Gyre Schola, serif
	background: #253330;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
